<div class="card-deck">
    <div
        id="card-login"
        class="card"
    >
        <img
            class="card-img-top"
            src="assets/login.png"
            alt="Card image cap"
        >
        <div class="card-body">
            <button
                type="button"
                class="btn btn-outline-secondary btn-block"
                (click)="onLogin()"
            >
                Login
            </button>
        </div>
    </div>
    <div
        id="card-register"
        class="card"
    >
        <img
            class="card-img-top"
            src="assets/register.png"
            alt="Card image cap"
        >
        <div class="card-body">
            <button
                type="button"
                class="btn btn-outline-secondary btn-block"
            >
                Registrar-se
            </button>
        </div>
    </div>
</div>
